html, body {
    height: auto; /* Занимает всю высоту окна */
    weight: auto;
    margin: 0; /* Убираем отступы */
    background-image: url('background.jpg'); /* Путь к изображению */
    background-repeat: repeat; /* Повторяем изображение по умолчанию */
    background-size: auto; /* Размер по умолчанию, не будем его растягивать */
    font-style: italic; /* Делаем весь текст курсивным */
    }

body {
    display: flex; /* Включаем Flexbox */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
}

.content {
    text-align: center; /* Выравнивание текста по центру */
    font-size: 25px; /* Задаём базовый размер шрифта */
    font-weight: 600; /* Стандартная жирность текста */
    max-width: 100%; /* Ограничение ширины для лучшего выравнивания */
    max-width: none;
    margin: 0 auto; /* Центрирование контента */
    padding: 5px; /* Добавьте отступы, если необходимо */
}

.empty_element {
    font-size: 50px;
}

.result {
    font-size: 50px;
    color: red;
    font-weight: 600;

}

.error {
    font-size: 18px; /* Задаём базовый размер шрифта */
    font-weight: 600; /* Стандартная жирность текста */
    font-style: italic; /* Делаем весь текст курсивным */
    color: red;
}

.buttons {
    display: flex; /* Используем Flexbox для кнопок */
    flex-direction: column; /* Располагаем кнопки в столбик */
    gap: 10px; /* Пробел между кнопками */
    margin-top: 20px; /* Отступ сверху, чтобы отделить кнопки от заголовка */
}

button {
    padding: 10px 20px; /* Отступы внутри кнопок */
    font-size: 20px; /* Размер шрифта */
    border: none; /* Убираем рамку */
    border-radius: 5px; /* Закругление углов кнопок */
    background-color: #660099; /* Цвет фона кнопок */
    color: white; /* Цвет текста кнопок */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s ease; /* Плавный переход для фона */
}

button:hover {
    background-color: #9900CC; /* Цвет фона при наведении */
}

    .letter {
        display: inline-block;
        font-size: 20px;
        padding: 10px;
        margin: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.2s;
    }
    .letter:hover {
        background-color: #9900CC;
    }

    .used {
       background-color: red; /* фон красный */
       color: white; /* цвет текста белый */
       cursor: not-allowed; /* курсор для неактивных кнопок */
   }
